.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
}


h1 {
  text-align: center;
  padding-left: 70px;
}
h2 {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  align-items: center;
}

input {
  padding: 8px;
  font-size: 16px;
  width: 80%;
}

button {
  padding: 10px;
  cursor: pointer;
  width: 80%;
}